# Required dependencies
fastapi
uvicorn[standard]
openai
tzlocal
python-multipart
requests
PyPDF2
python-docx
openpyxl
striprtf
odfpy
aiohttp
httpx
websockets
duckduckgo_search
python-pptx
tavily-python
bs4
langchain_openai
langchain_ollama
langchain_community
langchain-google-community
langchain-exa
faiss-cpu
mcp
nest_asyncio
shortuuid
docstring_parser
python-a2a[all]>=0.5.6
ollama
appdirs
aiosqlite
rank_bm25
fastapi_mcp
mem0ai
qq-botpy
Brotli
wikipedia-api
arxiv

# Optional dependencies
aiohttp
httpx
scipy
edge-tts
pyinstaller
e2b-code-interpreter
pywin32; sys_platform == 'win32'
wxauto; sys_platform == 'win32'
wikipedia-api
arxiv
googletrans==4.0.0rc1
